{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>
  <style>body {font-family: Arial, sans-serif;}</style>

  <link rel="stylesheet" type="text/css" href="{% static 'timesheetApp/static/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>
<!-- Calendar Widget -->
<form action="{% url 'timesheetApp:timesheet-entry' %}" autocomplete="off">
  <input id="datepicker" name="date">
  <input type="submit" value="Enter Date">
</form>

<!-- Timesheet -->
<form autocomplete="off" method="">
  {% csrf_token %}
<table name="">
	<tr name="line_items">
    <th>Date</th>
    {% for wd in weekday_list %}
    <th>{{wd}}</th>
    {% endfor %}
		<th>&nbsp;</th>
		<th></th>
  </tr>
  <tr name="line_items">
		<th>Category</th>
    {% for md in month_day_list %}
    <th>{{md}}</th>
    {% endfor %}
		<th>&nbsp;</th>
		<th>Total Hours</th>
	</tr>
	<tr name="line_items">
    <td>Work</td>
    {% for md in month_day_list %}
    <td><input type="number" step="0.25" value="0" name="hrs_worked" min="0" max="16" class="enter_wk"></td>
    {% endfor %}    
    <td>&nbsp;</td>
		<td><input type="number" name="" value="" class="tot_wk_hrs" readonly></td>
	</tr>
	<tr name="line_items">
    <td>PTO</td>
    {% for md in month_day_list %}
    <td><input type="number"step="0.25" value="0" name="hrs_pto" min="0" max="8" class="enter_pto"></td>
    {% endfor %}  
		<td>&nbsp;</td>
		<td><input type="number" name="" value="" class="tot_pto_hrs" readonly></td>
	<tr>
		<td colspan="7">&nbsp;</td>
		<td>Subtotal</td>
		<td>&nbsp;</td>
		<td><input type="number" name="subtotal" value="" class="" step="0.25" readonly></td>
	</tr>
	<tr>
		<td colspan="7">&nbsp;</td>
		<td>
			Tax:
			<select name="tax">
				<option value=".06">CT Tax</option>
				<option value=".00">Tax Free</option>
			</select>
		</td>
		<td>&nbsp;</td>
		<td><input type="text" name="tax_total" value="" jAutoCalc="{sub_total} * {tax}"></td>
	</tr>
	<tr>
		<td colspan="7">&nbsp;</td>
		<td>Total</td>
		<td>&nbsp;</td>
		<td><input type="text" name="grand_total" value="" jAutoCalc="{sub_total} + {tax_total}"></td>
	</tr>
</table>
</form>

<!-- Bring up modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="display_inputs()">
  Review Timesheet
</button>



<!-- MODAL -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      
      <div class="modal-body">
      <div>
        <form action="{% url 'timesheetApp:pto-summary' %}" method="POST" id="review-form">
          {% csrf_token %}
        <table name="">
          <tr name="line_items">
            <th>Date</th>
            {% for wd in weekday_list %}
            <th>{{wd}}</th>
            {% endfor %}
            <th>&nbsp;</th>
            <th></th>
          </tr>
          <tr name="line_items">
            <th>Category</th>
            {% for md in month_day_list %}
            <th>{{md}}</th>
            {% endfor %}
            <th>&nbsp;</th>
            <th>Total Hours</th>
          </tr>
          <tr name="line_items">
            <td>Work</td>
            {% for md in month_day_list %}
            <td><input value="" name="wk_hrs_list" class="wk_hrs" readonly></td>
            {% endfor %}    
            <td>&nbsp;</td>
            <td><input type="number" name="" value="" class="tot_wk_hrs" readonly></td>
          </tr>
          <tr name="line_items">
            <td>PTO</td>
            {% for md in month_day_list %}
            <td><input value="" name="pto_hrs_list" class="pto_hrs" readonly></td>
            {% endfor %}  
            <td>&nbsp;</td>
            <td><input type="number" name="" value="" class="tot_pto_hrs" readonly></td>
          <tr>
            <td colspan="7">&nbsp;</td>
            <td>Subtotal</td>
            <td>&nbsp;</td>
            <td><input type="number" name="subtotal" value="" class="" step="0.25" readonly></td>
          </tr>
          <tr>
            <td colspan="7">&nbsp;</td>
            <td>
              Tax:
              <select name="tax">
                <option value=".06">CT Tax</option>
                <option value=".00">Tax Free</option>
              </select>
            </td>
            <td>&nbsp;</td>
            <td><input type="text" name="tax_total" value="" jAutoCalc="{sub_total} * {tax}"></td>
          </tr>
          <tr>
            <td colspan="7">&nbsp;</td>
            <td>Total</td>
            <td>&nbsp;</td>
            <td><input type="text" name="grand_total" value="" jAutoCalc="{sub_total} + {tax_total}"></td>
          </tr>
        </table>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
          </div>

    </div>
  
  
  </div>
</div>






<script>
  
  var wk_hrs = []
  var pto_hrs = []

  //onclick for modal to display inputs
  function display_inputs(wk_hrs, pto_hrs){
    //serialize a collection of objs
    wk_hrs = $('input[name ="hrs_worked"]').serializeArray();
    pto_hrs = $('input[name ="hrs_pto"]').serializeArray();
    
    //display list of obj.values to a list of input tags
    var i = 0;
    $('input[class ="wk_hrs"]').empty();
    $.each( $('input[class ="wk_hrs"]'), function(idx, item){
        $(this).attr('value', wk_hrs[i++].value)
      });  
    var j = 0;
    $('input[class ="pto_hrs"]').empty();
    $.each( $('input[class ="pto_hrs"]'), function(idx, item){
        $(this).attr('value', pto_hrs[j++].value)
      });  

  }


  function calcTot(selectors) {
    total = 0
    $(selectors).each(function () {
    var input = parseFloat($(this).val());
    total += input
    });
    return total
  };

  var tot_wk_hrs = 0
  var tot_pto_hrs = 0
  //calc total wk hrs at input
  $('input[class ="enter_wk"]').on('click keyup', function () {
    tot_wk_hrs = calcTot('input[class ="enter_wk"]')
    $('.tot_wk_hrs').val(tot_wk_hrs)
    updateSubtot(tot_wk_hrs, tot_pto_hrs)
    });
  //calc total pto hrs at input
  $('input[class ="enter_pto"]').on('click keyup',function () {
    tot_pto_hrs = calcTot('input[class ="enter_pto"]')
    $('.tot_pto_hrs').val(tot_pto_hrs)
    updateSubtot(tot_wk_hrs, tot_pto_hrs)
  });

  //calc total wk + pto hrs at input
  function updateSubtot(tot_wk_hrs, tot_pto_hrs){
    var total = tot_wk_hrs + tot_pto_hrs 
    $('input[name ="subtotal"]').val(total)
  }


  //run at page load: 
  $(function () {
    //calendar date-picker
    $("#datepicker").datepicker();
        
  });
</script>
</body>
</html>